body,h1,h2,h3,h4,h5,h6,p {font-family: "Lato", sans-serif; color: #F2E8CF;}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1rem;
  background-color: #162719;
}

.Main-Info {
    text-align: center;
    padding-top: 10%;
}

.profile-picture {
    width: 170px;
    height: 170px;
    border-radius: 25%;
    object-fit: contain;
}

.bio {
    white-space: pre-line;
    line-height: 25px;
}

nav {
    margin-top: 35px;
}

nav ul, li {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    text-align: center;
    margin: 3px;
}


@media (max-width: 600px) {
    nav ul {
      display: inline;
    }
    nav li {
        margin: 30px;
    }
}
  

.button {
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 25px;
    background-color: #F2E8CF;
    border: none;
    color: #0f3719;
    text-align: center;
    padding: 5px;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover{
    letter-spacing: 0.25em;
}

footer {
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}